.App {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 0 10% 10px 10%;
}

@media (min-width: 914px) {
    .container {
        padding: 0 10% 10px 10%;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 913px) {
    .App {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container {
        padding: 0 0 10% 0;
    }
}
