.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

@media (max-width: 1080px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 10%;
    }
}

@media (max-width: 913px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 5%;
    }
}
